h1,h2{
    text-align: center;
    color: #FF00FF;
    font-family:"Charmonman", "cursive";
    

}

body{
    font-family: 'Catamaran', sans-serif;
}
h1{
      background-image: url("tropical-tree-island.jpg");  
      padding:100px;
      opacity:0.5;
      color: #FF00FF;
      
}
   