h1,h2{
    text-align: center;
    color:#DB7093;
    font-family:"Charmonman", "cursive";
    background-image: url("tropical-tree-island.jpg");
}

body{
    font-family: 'Catamaran', sans-serif;
}
   