h1,h2{
    text-align: center;
    color: #FF00FF;
    font-family:"Charmonman", "cursive";
    font-weight: bolder;
    

}

body{
    font-family: 'Catamaran', sans-serif;
}
h1{
      background-image: url("tropical-tree-island.jpg");  
      padding:100px;
      /*color: #FF00FF;*/
      /*font-weight: bold;*/
      opacity:.5;
      
}
.wrapper{
    color:#FF00FF;
}
 